$main-bg: rgb(255, 208, 255);
$sub-bg: rgb(255, 39, 255);

@import "./include_media";
@import "./table";
@import "./other";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

#myCanvas {
  width: 100%;
  height: 100%;
  background-color: #c8bdff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#canvas-container {
  width: 1000px;
  height: 650px;
  display: none;
  align-items: center;
  justify-content: center;
  @include media("<desktop") {
    width: 100vw;
    height: 50vh;
  }
}
.property-control {
  display: none;
}
